<div>
  <app-dashboard-top-nav></app-dashboard-top-nav>
</div>
<div class="MainContentDiv">
  <div *ngIf="!IsAddNewClicked" class="w-100">
    <div class="ComponentTop">
      <div class="ComponentTopHeader">
        <h5>Bus Fare Management</h5>
        <p>Total {{ SyllabusCount }} Fares Added</p>
      </div>
      <div class="ComponentTopBottom">
        <button *ngIf="canAdd()" (click)="AddNewClicked()"><mat-icon>add_circle</mat-icon>Add Fare</button>
      </div>
    </div>
    <div class="ComponentRecords">
      <div>
        <div class="ComponentRecordsTop">
          <div class="filterOptions">
            <div class="searchreview input-container" >
              <input type="text" id="searchQuery" class="form-control floating-input"
                [(ngModel)]="searchQuery" (ngModelChange)="onSearchChange()" placeholder="Search... "  />
              <mat-icon style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%); pointer-events: none;">search</mat-icon>
              <!-- <i class="fas fa-search" style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%); pointer-events: none;"></i> -->
            </div>
            <div class="searchreview" *ngIf="isAdmin && SyllabusList.length != 0">
              <select (change)="onSchoolChange($event)" class="form-control" style="font-size: 11px;">
                <option value="">-- Select School --</option>
                <option value="0">All Schools</option>
                <option *ngFor="let school of schoolList" [value]="school.ID">
                  {{ school.Name }}
                </option>
              </select>
            </div>
          </div>
          <!-- <div class="DownloadButtons" *ngIf="SyllabusList.length != 0">
            <button class="btnHover" (click)="exportSyllabus('pdf')"><mat-icon>picture_as_pdf</mat-icon></button>
            <button class="btnHover" (click)="exportSyllabus('excel')"><mat-icon>description</mat-icon></button>
            <button class="btnHover" (click)="exportSyllabus('print')"><mat-icon>print</mat-icon></button>
          </div> -->
        </div>
        <div class="reviewstable">
          <table id="classTable" *ngIf="SyllabusList.length != 0" class="table table-bordered">
            <thead>
              <tr>
                <th class="visually-hidden">Academic Year ID</th>
                <th>SI.No</th>
                <th *ngIf="isAdmin">School Name</th>
                <th>Route</th>
                <th>Stop</th>                
                <th>Bus</th>
                <th>Amount</th>
                <th>Status</th>               
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let Syllabus of SyllabusList,let i = index">
                <td data-label="ID" class="visually-hidden">{{ Syllabus.ID }}</td>
                <td data-label="SI.No">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
                <td data-label="SchoolName" *ngIf="isAdmin">{{ Syllabus.SchoolName }}</td>
                <td data-label="RouteName">{{ Syllabus.RouteName }}</td>
                <td data-label="StopName">{{ Syllabus.StopName }}</td>                
                <td data-label="BusName">{{ Syllabus.BusName }}</td>
                <td data-label="Amount">{{ Syllabus.Amount }}</td>                
                <td data-label="Status">{{ Syllabus.IsActive }}</td>
                <td data-label="Actions">
                  <div class="d-flex justify-content-center align-items-center h-100">
                    <!-- (click)="editreview(aminitie.propertyTypeID)" -->
                    <button *ngIf="canEdit()" class="btn checkbtn edit" data-tooltip="Edit" (click)="editreview(Syllabus.ID)">
                      <mat-icon class="mat-edit-icon">edit</mat-icon>
                    </button>
                    <button *ngIf="canView()" class="btn checkbtn" data-tooltip="View" (click)="viewReview(Syllabus.ID)">
                      <mat-icon class="mat-edit-icon">visibility</mat-icon>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="SyllabusList.length === 0" class="NoDataFound">
            <div class="NoDataFoundImg">
              <img class="h-100 w-100" src="Images/NoDataFound.jpg" alt="">
            </div>
            <p>No data found.</p>
          </div>
          <div *ngIf="SyllabusCount > pageSize" class="pagination-controls">
            <button *ngIf="totalPages() > 3" (click)="goToPage(1)" [disabled]="currentPage === 1" class="arrow-btn FirstandLastButton">First</button>
            <button (click)="previousPage()" [disabled]="currentPage === 1" class="arrow-btn">←</button>
            <button *ngFor="let page of getVisiblePageNumbers()"
                    class="page-btn"
                    [ngClass]="{'active': page === currentPage}"
                    (click)="goToPage(page)">
              {{ page }}
            </button>
            <button (click)="nextPage()" [disabled]="currentPage === totalPages()" class="arrow-btn">→</button>
            <button *ngIf="totalPages() > 3" (click)="goToPage(totalPages())" [disabled]="currentPage === totalPages()" class="arrow-btn FirstandLastButton">Last</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="IsAddNewClicked" class="w-100">
    <div class="AddForm">
      <div class="AddFormTop">
        <button (click)="AddNewClicked()" title="Back"><mat-icon>arrow_circle_left</mat-icon></button>
        <p>Add Fare</p>
      </div>
      <div class="AddFormConatiner">
        <form [formGroup]="SyllabusForm">
          <div class="FormInputRowsContainer">
            <div class="InputRow">
               <div class="InputFieldsContainer" *ngIf="isAdmin">
                <label class="inputLabel" for="email">School <span class="required">*</span></label>
                <div class="input-with-error">
                  <select class="inputField" type="date" formControlName="School" placeholder="Select Start Date" (change)="onAdminSchoolChange($event)" >
                    <option value="0">-- Select School --</option>
                    <option *ngFor="let school of schoolList" value="{{school.ID}}">{{school.Name}}</option>
                  </select>
                  <div *ngIf="SyllabusForm.get('School')?.hasError('min') && (SyllabusForm.get('School')?.touched || SyllabusForm.get('School')?.dirty)" class="text-danger">
                      <small>Please Select School.</small>
                  </div>
                </div>
              </div> 
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">Academic Year <span class="required">*</span></label>
                <div class="input-with-error">
                  <select class="inputField" type="date" formControlName="AcademicYear" placeholder="Select Start Date" >
                    <option value="0">-- Select Academic Year --</option>
                    <option *ngFor="let school of academicYearList" value="{{school.ID}}">{{school.Name}}</option>
                  </select>
                  <div *ngIf="SyllabusForm.get('AcademicYear')?.hasError('min') && (SyllabusForm.get('AcademicYear')?.touched || SyllabusForm.get('AcademicYear')?.dirty)" class="text-danger">
                      <small>Please Select Academic Year.</small>
                  </div>
                </div>
              </div>
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">Route <span class="required">*</span></label>
                <div class="input-with-error">
                  <select class="inputField" type="date" formControlName="Route" placeholder="Select Class" (change)="RouteChange($any($event.target).value)">
                    <option value="0" disabled>Select Route</option>
                    <option *ngFor="let Route of RouteList" value="{{Route.ID}}">{{Route.Name}}</option>
                  </select>
                  <!-- <input class="inputField" type="date" formControlName="AvailableFrom" placeholder="Select Start Date" /> -->
                  <div *ngIf="SyllabusForm.get('Route')?.hasError('min') && (SyllabusForm.get('Route')?.touched || SyllabusForm.get('Route')?.dirty)" class="text-danger">
                      <small>Please Select Bus Route.</small>
                  </div>
                </div>
              </div>
              <div class="InputFieldsContainer" *ngIf="!isAdmin">
                <label class="inputLabel" for="email">Stop <span class="required">*</span></label>
                <div class="input-with-error">
                  <select class="inputField" type="date" formControlName="Stop" placeholder="Select Stop">
                    <option value="0" disabled>Select Stop</option>
                    <option *ngFor="let Stop of StopList" value="{{Stop.ID}}">{{Stop.Name}}</option>
                  </select>
                  <!-- <input class="inputField" type="date" formControlName="AvailableFrom" placeholder="Select Start Date" /> -->
                  <div *ngIf="SyllabusForm.get('Stop')?.hasError('min') && (SyllabusForm.get('Stop')?.touched || SyllabusForm.get('Stop')?.dirty)" class="text-danger">
                      <small>Please Select Stop.</small>
                  </div>
                </div>
              </div>    
            </div>
            <div class="InputRow">
              <div class="InputFieldsContainer" *ngIf="isAdmin">
                <label class="inputLabel" for="email">Stop <span class="required">*</span></label>
                <div class="input-with-error">
                  <select class="inputField" type="date" formControlName="Stop" placeholder="Select Stop">
                    <option value="0" disabled>Select Stop</option>
                    <option *ngFor="let Stop of StopList" value="{{Stop.ID}}">{{Stop.Name}}</option>
                  </select>
                  <!-- <input class="inputField" type="date" formControlName="AvailableFrom" placeholder="Select Start Date" /> -->
                  <div *ngIf="SyllabusForm.get('Stop')?.hasError('min') && (SyllabusForm.get('Stop')?.touched || SyllabusForm.get('Stop')?.dirty)" class="text-danger">
                      <small>Please Select Stop.</small>
                  </div>
                </div>
              </div>  
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">Bus <span class="required">*</span></label>
                <div class="input-with-error">
                  <select class="inputField" type="date" formControlName="Bus" placeholder="Select Bus">
                    <option value="0" disabled>Select Bus</option>
                    <option *ngFor="let Bus of BusList" value="{{Bus.ID}}">{{Bus.Name}}</option>
                  </select>
                  <!-- <input class="inputField" type="date" formControlName="AvailableFrom" placeholder="Select Start Date" /> -->
                  <div *ngIf="SyllabusForm.get('Bus')?.hasError('min') && (SyllabusForm.get('Bus')?.touched || SyllabusForm.get('Bus')?.dirty)" class="text-danger">
                      <small>Please Select Bus.</small>
                  </div>
                </div>
              </div> 
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">Amount <span class="required">*</span></label>
                <div class="input-with-error">
                  <input class="inputField" formControlName="Amount" placeholder="Enter Amount" maxlength="5" (keydown)="allowOnlyNumbers($event)" />
                  <div *ngIf="(SyllabusForm.get('Amount' ) ?. touched && SyllabusForm.get('Amount' ) ?. invalid)" class="text-danger">
                    <div *ngIf="(SyllabusForm.get('Amount' ) ?. errors ?. ['required' ]) ">
                      <small>Please Enter Amount.</small>
                    </div>
                  </div>
                </div>
              </div> 
              <div class="InputFieldsContainer" *ngIf="!isAdmin">
                <div class="toggle-container" (click)="$event.stopPropagation()">
                  <label class="switch">
                    <input type="checkbox" [checked]="IsActiveStatus" [disabled]="!canDelete()" (click)="toggleChange()">
                    <span class="slider">
                      <span
                        class="toggle-text"
                        [ngStyle]="{
                          left: IsActiveStatus ? '42%' : '60%',
                          fontSize: IsActiveStatus ? '9px' : '9px'
                        }"
                      >
                        {{ IsActiveStatus ? 'Active' : 'Inactive' }}
                      </span>
                    </span>
                  </label>
                </div>
              </div>    
            </div>
            <div class="InputRow" *ngIf="isAdmin">
              <div class="InputFieldsContainer" *ngIf="isAdmin">
                <div class="toggle-container" (click)="$event.stopPropagation()">
                  <label class="switch">
                    <input type="checkbox" [checked]="IsActiveStatus" [disabled]="!canDelete()" (click)="toggleChange()">
                    <span class="slider">
                      <span
                        class="toggle-text"
                        [ngStyle]="{
                          left: IsActiveStatus ? '42%' : '60%',
                          fontSize: IsActiveStatus ? '9px' : '9px'
                        }"
                      >
                        {{ IsActiveStatus ? 'Active' : 'Inactive' }}
                      </span>
                    </span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="ActionButtons">
            <button class="btn" *ngIf="ViewSyllabusClicked && canEdit()" (click)="UpdateSyllabus()">Update</button>
            <button class="btn" *ngIf="!ViewSyllabusClicked && canAdd()" (click)="SubmitSyllabus()">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': isModalOpen}" [style.display]="isModalOpen ? 'block' : 'none'">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Application Status</h5>
        <button type="button" class="close" aria-label="Close" (click)="closeModal('status')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ AminityInsStatus }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="handleOk()">OK</button>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': isViewModalOpen}" [style.display]="isViewModalOpen ? 'block' : 'none'">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">View Fare</h5>
        <button type="button" class="close" (click)="closeModal('view')">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row mb-2">
          <div class="col-6 viewHeadingfontsize">Route</div>
          <div class="col-6 viewfontsize">{{ viewSyllabus?.RouteName }}</div>
        </div>

        <div class="row mb-2">
          <div class="col-6 viewHeadingfontsize">Stop </div>
          <div class="col-6 viewfontsize">{{ viewSyllabus?.StopName }}</div>
        </div>

         <div class="row mb-2">
          <div class="col-6 viewHeadingfontsize"> Bus</div>
          <div class="col-6 viewfontsize">{{ viewSyllabus?.BusName }}</div>
        </div>

         <div class="row mb-2">
          <div class="col-6 viewHeadingfontsize">Amount </div>
          <div class="col-6 viewfontsize">{{ viewSyllabus?.Amount }}</div>
        </div>
        <div>
          <div class="row mb-2" *ngIf="viewSyllabus?.SchoolName">
          <div class="col-6 viewHeadingfontsize">School Name</div>
          <div class="col-6 viewfontsize">{{ viewSyllabus?.SchoolName }}</div>
        </div>

        <div>
          <div class="row mb-2" *ngIf="viewSyllabus?.AcademicYearName">
          <div class="col-6 viewHeadingfontsize">Academic Year</div>
          <div class="col-6 viewfontsize">{{ viewSyllabus?.AcademicYearName }}</div>
        </div>
      

        <div class="row mb-2">
          <div class="col-6 viewHeadingfontsize">Status</div>
          <div class="col-6">
            <span class="badge"
                  [ngClass]="viewSyllabus?.IsActive ? 'badge-success' : 'badge-danger'">
              {{ viewSyllabus?.IsActive ? 'Active' : 'Inactive' }}
            </span>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button class="btn btn-secondary" (click)="closeModal()">Close</button>
      </div> -->
    </div>
  </div>
</div>
<!-- <div class="modal-backdrop fade show" *ngIf="isViewModalOpen"></div> -->