.FormInputRowsContainer {
  flex-direction: column;
}

.InputRow {
  width: 100% !important;
  flex-direction: row !important;
}

.searchreview.input-container .floating-input {
  padding-left: 32px !important;
}
