.FormInputRowsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.InputRow{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: row !important;
  width: 100% !important;
}