<div>
  <app-dashboard-top-nav></app-dashboard-top-nav>
</div>
<div class="MainContentDiv">
  <div *ngIf="!IsAddNewClicked" class="w-100">
    <div class="ComponentTop">
      <div class="ComponentTopHeader">
        <h5>Admission Management</h5>
        <p>Total {{ ClassCount }} Admissions Added</p>
      </div>
      <div class="ComponentTopBottom">
        <button class="btnHover" (click)="AddNewClicked()"><mat-icon>add_circle</mat-icon>Student Registration</button>
      </div>
    </div>
    <div class="ComponentRecords">
      <div>
        <div class="ComponentRecordsTop" *ngIf="ListedClassList.length != 0">
          <div class="searchreview input-container" >
            <input type="text" id="searchQuery" class="form-control floating-input"
              [(ngModel)]="searchQuery" (ngModelChange)="onSearchChange()" placeholder="Search... "  />
            <mat-icon style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%); pointer-events: none;">search</mat-icon>
            <!-- <i class="fas fa-search" style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%); pointer-events: none;"></i> -->
          </div>
          <div class="DownloadButtons">
            <button class="btnHover" (click)="copyTable()"><mat-icon>content_copy</mat-icon></button>
            <button class="btnHover" (click)="exportToExcel()"><mat-icon>file_download</mat-icon></button>
            <button class="btnHover" (click)="printTable()"><mat-icon>print</mat-icon></button>
          </div>
        </div>
        <div class="reviewstable">
          <table id="classTable" *ngIf="ListedClassList.length != 0" class="table table-bordered">
            <thead>
              <tr>
                <th class="visually-hidden">Academic Year ID</th>
                <th>SI.No</th>
                <th>Name</th>
                <th>Syllabus</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let Class of getPaginatedClassLists(),let i = index">
                <td data-label="ID" class="visually-hidden">{{ Class.ID }}</td>
                <td data-label="SI.No">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
                <td data-label="Name">{{ Class.Name }}</td>
                <td data-label="AvailableFrom">{{ getSyllabusName(Class.Syllabus) }}</td>
                <td data-label="Status">{{ Class.IsActive }}</td>
                <td data-label="Actions">
                  <div class="d-flex justify-content-center align-items-center h-100">
                    <!-- (click)="editreview(aminitie.propertyTypeID)" -->
                    <button class="btn checkbtn" data-tooltip="Edit" (click)="editreview(Class.ID)">
                      <mat-icon class="mat-edit-icon">edit</mat-icon>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="ListedClassList.length === 0" class="NoDataFound">
            <div class="NoDataFoundImg">
              <img class="h-100 w-100" src="Images/NoDataFound.jpg" alt="">
            </div>
            <p>No data found.</p>
          </div>
          <div *ngIf="ListedClassList.length > 5" class="pagination-controls">
            <button (click)="previousPage()" [disabled]="currentPage === 1" class="arrow-btn">←</button>
            <button *ngFor="let page of getVisiblePageNumbers()"
                    class="page-btn"
                    [ngClass]="{'active': page === currentPage}"
                    (click)="goToPage(page)">
              {{ page }}
            </button>
            <button (click)="nextPage()" [disabled]="currentPage === totalPages()" class="arrow-btn">→</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="IsAddNewClicked" class="w-100">
    <div class="AddForm">
      <div class="AddFormTop">
        <button (click)="AddNewClicked()" title="Back"><mat-icon>arrow_circle_left</mat-icon></button>
        <p>Add Student</p>
      </div>
      <div class="AddFormConatiner">
        <form [formGroup]="ClassForm">
          <div class="FormInputRowsContainer">
            <div class="InputRow">
              <!-- <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">Admission No</label>
                <div class="input-with-error">
                  <input class="inputField" formControlName="Name" placeholder="Enter Name" />
                  <div *ngIf="(ClassForm.get('Name' ) ?. touched && ClassForm.get('Name' ) ?. invalid)" class="text-danger">
                    <div *ngIf="(ClassForm.get('Name' ) ?. errors ?. ['required' ]) ">
                      <small>Please Enter Name.</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">Academic Year</label>
                <div class="input-with-error">
                  <select class="inputField" type="date" formControlName="Syllabus" placeholder="Select Start Date">
                    <option value="0" disabled>Select Academic Year</option>
                    <option *ngFor="let Syllabus of SyllabusList" value="{{Syllabus.ID}}">{{Syllabus.Name}}</option>
                  </select>
                  <!-- <input class="inputField" type="date" formControlName="AvailableFrom" placeholder="Select Start Date" /> --
                  <div *ngIf="(ClassForm.get('Name' ) ?. touched && ClassForm.get('Name' ) ?. invalid)" class="text-danger">
                    <div *ngIf="(ClassForm.get('Name' ) ?. errors ?. ['required' ]) ">
                      <small>Please Select Syllabus.</small>
                    </div>
                  </div>
                </div>
              </div> -->
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">Class</label>
                <div class="input-with-error">
                  <select class="inputField" type="date" formControlName="Syllabus" placeholder="Select Start Date">
                    <option value="0" disabled>Select Class</option>
                    <option *ngFor="let Syllabus of SyllabusList" value="{{Syllabus.ID}}">{{Syllabus.Name}}</option>
                  </select>
                  <!-- <input class="inputField" type="date" formControlName="AvailableFrom" placeholder="Select Start Date" /> -->
                  <div *ngIf="(ClassForm.get('Name' ) ?. touched && ClassForm.get('Name' ) ?. invalid)" class="text-danger">
                    <div *ngIf="(ClassForm.get('Name' ) ?. errors ?. ['required' ]) ">
                      <small>Please Select Syllabus.</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">Division</label>
                <div class="input-with-error">
                  <select class="inputField" type="date" formControlName="Syllabus" placeholder="Select Start Date">
                    <option value="0" disabled>Select Division</option>
                    <option *ngFor="let Syllabus of SyllabusList" value="{{Syllabus.ID}}">{{Syllabus.Name}}</option>
                  </select>
                  <!-- <input class="inputField" type="date" formControlName="AvailableFrom" placeholder="Select Start Date" /> -->
                  <div *ngIf="(ClassForm.get('Name' ) ?. touched && ClassForm.get('Name' ) ?. invalid)" class="text-danger">
                    <div *ngIf="(ClassForm.get('Name' ) ?. errors ?. ['required' ]) ">
                      <small>Please Select Syllabus.</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">Date Of Join</label>
                <div class="input-with-error">
                  <input type="date" class="inputField" formControlName="Name" placeholder="Enter Name" />
                  <div *ngIf="(ClassForm.get('Name' ) ?. touched && ClassForm.get('Name' ) ?. invalid)" class="text-danger">
                    <div *ngIf="(ClassForm.get('Name' ) ?. errors ?. ['required' ]) ">
                      <small>Please Enter Name.</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="InputRow">
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">First Name</label>
                <div class="input-with-error">
                  <input class="inputField" formControlName="Name" placeholder="Enter Name" />
                  <div *ngIf="(ClassForm.get('Name' ) ?. touched && ClassForm.get('Name' ) ?. invalid)" class="text-danger">
                    <div *ngIf="(ClassForm.get('Name' ) ?. errors ?. ['required' ]) ">
                      <small>Please Enter Name.</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">Middle Name</label>
                <div class="input-with-error">
                  <input class="inputField" formControlName="Name" placeholder="Enter Name" />
                  <div *ngIf="(ClassForm.get('Name' ) ?. touched && ClassForm.get('Name' ) ?. invalid)" class="text-danger">
                    <div *ngIf="(ClassForm.get('Name' ) ?. errors ?. ['required' ]) ">
                      <small>Please Enter Name.</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">Last Name</label>
                <div class="input-with-error">
                  <input class="inputField" formControlName="Name" placeholder="Enter Name" />
                  <div *ngIf="(ClassForm.get('Name' ) ?. touched && ClassForm.get('Name' ) ?. invalid)" class="text-danger">
                    <div *ngIf="(ClassForm.get('Name' ) ?. errors ?. ['required' ]) ">
                      <small>Please Enter Name.</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="InputRow">
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">Father Name</label>
                <div class="input-with-error">
                  <input class="inputField" formControlName="Name" placeholder="Enter Name" />
                  <div *ngIf="(ClassForm.get('Name' ) ?. touched && ClassForm.get('Name' ) ?. invalid)" class="text-danger">
                    <div *ngIf="(ClassForm.get('Name' ) ?. errors ?. ['required' ]) ">
                      <small>Please Enter Name.</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">Father Qualification</label>
                <div class="input-with-error">
                  <input class="inputField" formControlName="Name" placeholder="Enter Name" />
                  <div *ngIf="(ClassForm.get('Name' ) ?. touched && ClassForm.get('Name' ) ?. invalid)" class="text-danger">
                    <div *ngIf="(ClassForm.get('Name' ) ?. errors ?. ['required' ]) ">
                      <small>Please Enter Name.</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">Father Occupation</label>
                <div class="input-with-error">
                  <input class="inputField" formControlName="Name" placeholder="Enter Name" />
                  <div *ngIf="(ClassForm.get('Name' ) ?. touched && ClassForm.get('Name' ) ?. invalid)" class="text-danger">
                    <div *ngIf="(ClassForm.get('Name' ) ?. errors ?. ['required' ]) ">
                      <small>Please Enter Name.</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="InputRow">
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">Father Mobile No</label>
                <div class="input-with-error">
                  <input class="inputField" formControlName="Name" placeholder="Enter Name" />
                  <div *ngIf="(ClassForm.get('Name' ) ?. touched && ClassForm.get('Name' ) ?. invalid)" class="text-danger">
                    <div *ngIf="(ClassForm.get('Name' ) ?. errors ?. ['required' ]) ">
                      <small>Please Enter Name.</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">Father EmailID</label>
                <div class="input-with-error">
                  <input class="inputField" formControlName="Name" placeholder="Enter Name" />
                  <div *ngIf="(ClassForm.get('Name' ) ?. touched && ClassForm.get('Name' ) ?. invalid)" class="text-danger">
                    <div *ngIf="(ClassForm.get('Name' ) ?. errors ?. ['required' ]) ">
                      <small>Please Enter Name.</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">Mother Name</label>
                <div class="input-with-error">
                  <input class="inputField" formControlName="Name" placeholder="Enter Name" />
                  <div *ngIf="(ClassForm.get('Name' ) ?. touched && ClassForm.get('Name' ) ?. invalid)" class="text-danger">
                    <div *ngIf="(ClassForm.get('Name' ) ?. errors ?. ['required' ]) ">
                      <small>Please Enter Name.</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="InputRow">
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">Mother Qualification</label>
                <div class="input-with-error">
                  <input class="inputField" formControlName="Name" placeholder="Enter Name" />
                  <div *ngIf="(ClassForm.get('Name' ) ?. touched && ClassForm.get('Name' ) ?. invalid)" class="text-danger">
                    <div *ngIf="(ClassForm.get('Name' ) ?. errors ?. ['required' ]) ">
                      <small>Please Enter Name.</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">Mother Occupation</label>
                <div class="input-with-error">
                  <input class="inputField" formControlName="Name" placeholder="Enter Name" />
                  <div *ngIf="(ClassForm.get('Name' ) ?. touched && ClassForm.get('Name' ) ?. invalid)" class="text-danger">
                    <div *ngIf="(ClassForm.get('Name' ) ?. errors ?. ['required' ]) ">
                      <small>Please Enter Name.</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">Mother Mobile No</label>
                <div class="input-with-error">
                  <input class="inputField" formControlName="Name" placeholder="Enter Name" />
                  <div *ngIf="(ClassForm.get('Name' ) ?. touched && ClassForm.get('Name' ) ?. invalid)" class="text-danger">
                    <div *ngIf="(ClassForm.get('Name' ) ?. errors ?. ['required' ]) ">
                      <small>Please Enter Name.</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="InputRow">
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">Mother EmailID</label>
                <div class="input-with-error">
                  <input class="inputField" formControlName="Name" placeholder="Enter Name" />
                  <div *ngIf="(ClassForm.get('Name' ) ?. touched && ClassForm.get('Name' ) ?. invalid)" class="text-danger">
                    <div *ngIf="(ClassForm.get('Name' ) ?. errors ?. ['required' ]) ">
                      <small>Please Enter Name.</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">Aadhar No</label>
                <div class="input-with-error">
                  <input class="inputField" formControlName="Name" placeholder="Enter Name" />
                  <div *ngIf="(ClassForm.get('Name' ) ?. touched && ClassForm.get('Name' ) ?. invalid)" class="text-danger">
                    <div *ngIf="(ClassForm.get('Name' ) ?. errors ?. ['required' ]) ">
                      <small>Please Enter Name.</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">Mobile No (sms)</label>
                <div class="input-with-error">
                  <input class="inputField" formControlName="Name" placeholder="Enter Name" />
                  <div *ngIf="(ClassForm.get('Name' ) ?. touched && ClassForm.get('Name' ) ?. invalid)" class="text-danger">
                    <div *ngIf="(ClassForm.get('Name' ) ?. errors ?. ['required' ]) ">
                      <small>Please Enter Name.</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="InputRow">
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">Student EmailID</label>
                <div class="input-with-error">
                  <input class="inputField" formControlName="Name" placeholder="Enter Name" />
                  <div *ngIf="(ClassForm.get('Name' ) ?. touched && ClassForm.get('Name' ) ?. invalid)" class="text-danger">
                    <div *ngIf="(ClassForm.get('Name' ) ?. errors ?. ['required' ]) ">
                      <small>Please Enter Name.</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">Date Of Birth</label>
                <div class="input-with-error">
                  <input type="date" class="inputField" formControlName="Name" placeholder="Enter Name" />
                  <div *ngIf="(ClassForm.get('Name' ) ?. touched && ClassForm.get('Name' ) ?. invalid)" class="text-danger">
                    <div *ngIf="(ClassForm.get('Name' ) ?. errors ?. ['required' ]) ">
                      <small>Please Enter Name.</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">Gender</label>
                <div class="input-with-error">
                  <select class="inputField" formControlName="Syllabus" placeholder="Select Start Date">
                    <option value="0" disabled>Select Gender</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                    <option value="3">Other</option>
                  </select>
                  <!-- <input class="inputField" type="date" formControlName="AvailableFrom" placeholder="Select Start Date" /> -->
                  <div *ngIf="(ClassForm.get('Name' ) ?. touched && ClassForm.get('Name' ) ?. invalid)" class="text-danger">
                    <div *ngIf="(ClassForm.get('Name' ) ?. errors ?. ['required' ]) ">
                      <small>Please Select Syllabus.</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="InputRow">
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">Blood Group</label>
                <div class="input-with-error">
                  <select class="inputField" formControlName="Syllabus" placeholder="Select Start Date">
                    <option value="0" disabled>Select Gender</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                    <option value="3">Other</option>
                  </select>
                  <!-- <input class="inputField" type="date" formControlName="AvailableFrom" placeholder="Select Start Date" /> -->
                  <div *ngIf="(ClassForm.get('Name' ) ?. touched && ClassForm.get('Name' ) ?. invalid)" class="text-danger">
                    <div *ngIf="(ClassForm.get('Name' ) ?. errors ?. ['required' ]) ">
                      <small>Please Select Syllabus.</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">Nationality</label>
                <div class="input-with-error">
                  <select class="inputField" formControlName="Syllabus" placeholder="Select Start Date">
                    <option value="0" disabled>Select Gender</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                    <option value="3">Other</option>
                  </select>
                  <!-- <input class="inputField" type="date" formControlName="AvailableFrom" placeholder="Select Start Date" /> -->
                  <div *ngIf="(ClassForm.get('Name' ) ?. touched && ClassForm.get('Name' ) ?. invalid)" class="text-danger">
                    <div *ngIf="(ClassForm.get('Name' ) ?. errors ?. ['required' ]) ">
                      <small>Please Select Syllabus.</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">Religion</label>
                <div class="input-with-error">
                  <select class="inputField" formControlName="Syllabus" placeholder="Select Start Date">
                    <option value="0" disabled>Select Gender</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                    <option value="3">Other</option>
                  </select>
                  <!-- <input class="inputField" type="date" formControlName="AvailableFrom" placeholder="Select Start Date" /> -->
                  <div *ngIf="(ClassForm.get('Name' ) ?. touched && ClassForm.get('Name' ) ?. invalid)" class="text-danger">
                    <div *ngIf="(ClassForm.get('Name' ) ?. errors ?. ['required' ]) ">
                      <small>Please Select Syllabus.</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="InputRow">
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">Address</label>
                <div class="input-with-error">
                  <textarea class="inputField" formControlName="Description" placeholder="Enter Description" rows="2"></textarea>
                  <!-- <input class="inputField" id="email" formControlName="Name" placeholder="Enter Name" /> -->
                  <div *ngIf="(ClassForm.get('Name' ) ?. touched && ClassForm.get('Name' ) ?. invalid)" class="text-danger">
                    <div *ngIf="(ClassForm.get('Name' ) ?. errors ?. ['required' ]) ">
                      <small>Please Enter Description.</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">Document Details</label>
                <div class="input-with-error">
                  <textarea class="inputField" formControlName="Description" placeholder="Enter Description" rows="2"></textarea>
                  <!-- <input class="inputField" id="email" formControlName="Name" placeholder="Enter Name" /> -->
                  <div *ngIf="(ClassForm.get('Name' ) ?. touched && ClassForm.get('Name' ) ?. invalid)" class="text-danger">
                    <div *ngIf="(ClassForm.get('Name' ) ?. errors ?. ['required' ]) ">
                      <small>Please Enter Description.</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="InputFieldsContainer"></div>
            </div>
            <div class="InputRow">
              <div class="InputFieldsContainer">
                <div class="toggle-container" (click)="$event.stopPropagation()">
                  <label class="switch">
                    <input type="checkbox" [checked]="IsActiveStatus" (click)="toggleChange()">
                    <span class="slider">
                      <span
                        class="toggle-text"
                        [ngStyle]="{
                          left: IsActiveStatus ? '42%' : '60%',
                          fontSize: IsActiveStatus ? '9px' : '9px'
                        }"
                      >
                        {{ IsActiveStatus ? 'Active' : 'Inactive' }}
                      </span>
                    </span>
                  </label>
                </div>
              </div>
              <div class="InputFieldsContainer"></div>
              <div class="InputFieldsContainer"></div>
            </div>
          </div>
          <div class="ActionButtons">
            <button class="btn" *ngIf="ViewClassClicked" (click)="UpdateClass()">Update</button>
            <button class="btn" *ngIf="!ViewClassClicked" (click)="SubmitClass()">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': isModalOpen}" [style.display]="isModalOpen ? 'block' : 'none'">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Application Status</h5>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ AminityInsStatus }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="handleOk()">OK</button>
      </div>
    </div>
  </div>
</div>
