.FormInputRowsContainer{
    flex-direction: column;
}

.InputRow{
    flex-direction: row !important;
    width: 100% !important;
}

.inputrowdescription{
    align-items: start !important;
}

.viewmodel .ActionButtons{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 5px;
}

.viewmodel .ActionButtons .btn{
  background-color: #536ff7;
  color: #fff;
  border: none;
  font-size: 10px;
  border-radius: 5px;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.viewmodel .modal-dialog {
    position: relative;
    margin: 4% auto;
    max-width: 750px;
}

.viewHeadingfontsize{
    font-size: 13px;
    font-weight: 500;
}

.viewfontsize{
    font-size: 11px;
}

.ActionButtons .btn.active-tab {
  background-color: #17275cf5 !important;
  color: #fff !important;
  border-color: #17275cf5 !important;
}