<div>
  <app-dashboard-top-nav></app-dashboard-top-nav>
</div>
<div class="MainContentDiv">
  <div class="ClassBlock">
    <div class="icon-section">
      <mat-icon>category</mat-icon>
    </div>
    <div class="info-section">
      <label>CLASSES</label>
      <p>4</p>
    </div>
  </div>

  <div class="DivisionsBlock">
    <div class="icon-section">
      <mat-icon>account_tree</mat-icon>
    </div>
    <div class="info-section">
      <label>DIVISIONS</label>
      <p>20</p>
    </div>
  </div>
  <div class="StaffBlock">
    <div class="icon-section">
      <mat-icon>people</mat-icon>
    </div>
    <div class="info-section">
      <label>STAFF</label>
      <p>20</p>
    </div>
  </div>
  <div class="StudentsBlock">
    <div class="icon-section">
      <mat-icon>groups</mat-icon>
    </div>
    <div class="info-section">
      <label>STUDENTS</label>
      <p>20</p>
    </div>
  </div>
</div>
