.MainContentDiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 10px 25px;
}

.ClassBlock,.DivisionsBlock,.StaffBlock,.StudentsBlock{
  display: flex;
  width: 25%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  overflow: hidden;
  /* font-family: Arial, sans-serif; */
}

.ClassBlock .icon-section {
  background-color: #00b25b;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ClassBlock .info-section {
  background-color: #00E676;
  flex-grow: 1;
  padding: 6px 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.DivisionsBlock .icon-section {
  background-color: #81338e;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DivisionsBlock .info-section {
  background-color: #AB47BC;
  flex-grow: 1;
  padding: 6px 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.StaffBlock .icon-section {
  background-color: #008ece;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.StaffBlock .info-section {
  background-color: #00B0FF;
  flex-grow: 1;
  padding: 6px 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.StudentsBlock .icon-section {
  background-color: #d33068;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.StudentsBlock .info-section {
  background-color: #FF4081;
  flex-grow: 1;
  padding: 6px 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon-section mat-icon {
  color: white;
  font-size: 25px;
}

.info-section label {
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 2px;
  text-transform: uppercase;
  letter-spacing: 0px;
}

.info-section p {
  font-size: 25px;
  margin: 0;
  font-weight: bold;
}
