<div>
  <app-dashboard-top-nav></app-dashboard-top-nav>
</div>
<div class="MainContentDiv">
  <div *ngIf="!IsAddNewClicked" class="w-100">
    <div class="ComponentTop">
      <div class="ComponentTopHeader">
        <h5>Subject Staff Management</h5>
        <p>Total {{ ModuleCount }} Subject Staff Added</p>
      </div>
      <div class="ComponentTopBottom">
        <button (click)="AddNewClicked()"><mat-icon>add_circle</mat-icon>Add Subject Staff</button>
      </div>
    </div>
    <div class="ComponentRecords">
      <div>
        <div class="searchreview input-container" >
          <input type="text" id="searchQuery" class="form-control floating-input"
            [(ngModel)]="searchQuery" (ngModelChange)="onSearchChange()" placeholder="Search... "  />
          <mat-icon style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%); pointer-events: none;">search</mat-icon>
          <!-- <i class="fas fa-search" style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%); pointer-events: none;"></i> -->
        </div>
        <div class="reviewstable">
          <table *ngIf="ListedModuleList.length != 0" class="table table-bordered">
            <thead>
              <tr>
                <th class="visually-hidden">Academic Year ID</th>
                <th>SI.No</th>
                <th>Class</th>
                <th>Name</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let Module of getPaginatedModuleLists(),let i = index">
                <td data-label="ID" class="visually-hidden">{{ Module.ID }}</td>
                <td data-label="SI.No">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
                <td data-label="Class">{{ getClassName(Module.Class) }}</td>
                <td data-label="Name">{{ getStaffName(Module.Name) }}</td>
                <td data-label="Actions">
                  <div class="d-flex justify-content-center align-items-center h-100">
                    <!-- (click)="editreview(aminitie.propertyTypeID)" -->
                    <button class="btn checkbtn" data-tooltip="Edit" (click)="editreview(Module.ID)">
                      <mat-icon class="mat-edit-icon">edit</mat-icon>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="ListedModuleList.length === 0" class="NoDataFound">
            <div class="NoDataFoundImg">
              <img class="h-100 w-100" src="Images/NoDataFound.jpg" alt="">
            </div>
            <p>No data found.</p>
          </div>
          <div *ngIf="ListedModuleList.length > 5" class="pagination-controls">
            <button (click)="previousPage()" [disabled]="currentPage === 1" class="arrow-btn">←</button>
            <button *ngFor="let page of getVisiblePageNumbers()"
                    class="page-btn"
                    [ngClass]="{'active': page === currentPage}"
                    (click)="goToPage(page)">
              {{ page }}
            </button>
            <button (click)="nextPage()" [disabled]="currentPage === totalPages()" class="arrow-btn">→</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="IsAddNewClicked" class="w-100">
    <div class="AddForm">
      <div class="AddFormTop">
        <button (click)="AddNewClicked()" title="Back"><mat-icon>arrow_circle_left</mat-icon></button>
        <p>Add Subject</p>
      </div>
      <div class="AddFormConatiner">
        <form [formGroup]="ModuleForm">
          <div class="FormInputRowsContainer">
            <div class="InputRow">
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">Staff</label>
                <div class="input-with-error">
                  <select class="inputField" type="date" formControlName="Name" placeholder="Select Class">
                    <option value="0" disabled>Select Staff</option>
                    <option *ngFor="let Syllabus of StaffListNotAssigned" value="{{Syllabus.ID}}">{{Syllabus.Name}}</option>
                  </select>
                  <!-- <input class="inputField" type="date" formControlName="AvailableFrom" placeholder="Select Start Date" /> -->
                  <div *ngIf="(ModuleForm.get('Name' ) ?. touched && ModuleForm.get('Name' ) ?. invalid)" class="text-danger">
                    <div *ngIf="(ModuleForm.get('Name' ) ?. errors ?. ['required' ]) ">
                      <small>Please Select Staff.</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="InputRow">
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">Subject</label>
                <div class="custom-multiselect">
                  <div class="select-box" (click)="dropdownOpen = !dropdownOpen">
                    {{ selectedCategories.length ? selectedCategories.length + ' selected' : 'Select Subject' }}
                    <span class="arrow">{{ dropdownOpen ? '▲' : '▼' }}</span>
                  </div>


                  <div class="options" *ngIf="dropdownOpen">
                    <label *ngFor="let cat of categories">
                      <input type="checkbox"
                            [checked]="selectedCategories.includes(cat.ID)"
                            (change)="toggleSelection(cat.ID)">
                      {{cat.Name}}
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ActionButtons">
            <button class="btn" *ngIf="ViewModuleClicked" (click)="UpdateModule()">Update</button>
            <button class="btn" *ngIf="!ViewModuleClicked" (click)="SubmitModule()">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': isModalOpen}" [style.display]="isModalOpen ? 'block' : 'none'">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Application Status</h5>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ AminityInsStatus }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="handleOk()">OK</button>
      </div>
    </div>
  </div>
</div>
