<div>
  <app-dashboard-top-nav></app-dashboard-top-nav>
</div>
<div class="MainContentDiv">
  <div *ngIf="!IsAddNewClicked" class="w-100">
    <div class="ComponentTop">
      <div class="ComponentTopHeader">
        <h5>Division Management</h5>
        <p>Total {{ ClassDivisionCount }} Division Added</p>
      </div>
      <div class="ComponentTopBottom">
        <button *ngIf="canAdd()" class="btnHover" (click)="AddNewClicked()"><mat-icon>add_circle</mat-icon>Add Division</button>
      </div>
    </div>
    <div class="ComponentRecords">
      <div>
        <div class="ComponentRecordsTop">
          <div class="filterOptions">
            <div class="searchreview input-container" >
              <input type="text" id="searchQuery" class="form-control floating-input"
                [(ngModel)]="searchQuery" (ngModelChange)="onSearchChange()" placeholder="Search... "  />
              <mat-icon style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%); pointer-events: none;">search</mat-icon>
              <!-- <i class="fas fa-search" style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%); pointer-events: none;"></i> -->
            </div>
            <div class="searchreview" *ngIf="isAdmin && ClassDivisionList.length != 0">
              <select (change)="onSchoolChange($event)" class="form-control" style="font-size: 11px;">
                <option value="">-- Select School --</option>
                <option value="0">All Schools</option>
                <option *ngFor="let school of schoolList" [value]="school.ID">
                  {{ school.Name }}
                </option>
              </select>
            </div>
          </div>
          <div class="DownloadButtons" *ngIf="ClassDivisionList.length != 0">
            <button class="btnHover" (click)="exportSyllabus('pdf')"><mat-icon>picture_as_pdf</mat-icon></button>
            <button class="btnHover" (click)="exportSyllabus('excel')"><mat-icon>description</mat-icon></button>
            <button class="btnHover" (click)="exportSyllabus('print')"><mat-icon>print</mat-icon></button>
          </div>
        </div>
        <div class="reviewstable">
          <table id="classTable" *ngIf="ClassDivisionList.length != 0" class="table table-bordered">
            <thead>
              <tr>
                <th class="visually-hidden">Academic Year ID</th>
                <th>SI.No</th>
                <th>Class</th>
                <th (click)="sort('Name')" class="sortable-column">
                  <span class="column-text">Syllabus</span>
                  <span class="arrows">
                    <mat-icon 
                      [style.color]="sortColumn === 'Name' && sortDirection === 'asc' ? 'red' : 'inherit'">
                      keyboard_arrow_up
                    </mat-icon>
                    <mat-icon 
                      [style.color]="sortColumn === 'Name' && sortDirection === 'desc' ? 'red' : 'inherit'">
                      keyboard_arrow_down
                    </mat-icon>
                  </span>
                </th>
                <th *ngIf="isAdmin">School Name</th>
                <th>Academic Year</th>
                <th>Strength</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let Class of ClassDivisionList,let i = index">
                <td data-label="ID" class="visually-hidden">{{ Class.ID }}</td>
                <td data-label="SI.No">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
                <td data-label="Class">{{ Class.ClassName }}</td>
                <td data-label="Name">{{ Class.Name }}</td>
                <td data-label="SchoolName" *ngIf="isAdmin">{{ Class.SchoolName }}</td>
                <td data-label="AcademicYearName">{{ Class.AcademicYearName }}</td>
                <td data-label="strength">{{ Class.Strength }}</td>
                <td data-label="Status">{{ Class.IsActive }}</td>
                <td data-label="Actions">
                  <div class="d-flex justify-content-center align-items-center h-100">
                    <!-- (click)="editreview(aminitie.propertyTypeID)" -->
                    <button *ngIf="canEdit()" class="btn checkbtn edit" data-tooltip="Edit" (click)="editreview(Class.ID)">
                      <mat-icon class="mat-edit-icon">edit</mat-icon>
                    </button>
                    <button *ngIf="canView()" class="btn checkbtn" data-tooltip="View" (click)="viewReview(Class.ID)">
                      <mat-icon class="mat-edit-icon">visibility</mat-icon>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="ClassDivisionList.length === 0" class="NoDataFound">
            <div class="NoDataFoundImg">
              <img class="h-100 w-100" src="Images/NoDataFound.jpg" alt="">
            </div>
            <p>No data found.</p>
          </div>
          <div *ngIf="ClassDivisionCount > pageSize" class="pagination-controls">
            <button *ngIf="totalPages() > 3" (click)="goToPage(1)" [disabled]="currentPage === 1" class="arrow-btn FirstandLastButton">First</button>
            <button (click)="previousPage()" [disabled]="currentPage === 1" class="arrow-btn">←</button>
            <button *ngFor="let page of getVisiblePageNumbers()"
                    class="page-btn"
                    [ngClass]="{'active': page === currentPage}"
                    (click)="goToPage(page)">
              {{ page }}
            </button>
            <button (click)="nextPage()" [disabled]="currentPage === totalPages()" class="arrow-btn">→</button>
            <button *ngIf="totalPages() > 3" (click)="goToPage(totalPages())" [disabled]="currentPage === totalPages()" class="arrow-btn FirstandLastButton">Last</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="IsAddNewClicked" class="w-100">
    <div class="AddForm">
      <div class="AddFormTop">
        <button (click)="AddNewClicked()" title="Back"><mat-icon>arrow_circle_left</mat-icon></button>
        <p>Add Division</p>
      </div>
      <div class="AddFormConatiner">
        <form [formGroup]="ClassDivisionForm">
          <div class="FormInputRowsContainer">
            <div class="InputRow">
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">Class <span class="required">*</span></label>
                <div class="input-with-error">
                  <select class="inputField" type="date" formControlName="Class" placeholder="Select Class">
                    <option value="0" disabled>Select Class</option>
                    <option *ngFor="let Syllabus of SyllabusList" value="{{Syllabus.ID}}">{{Syllabus.Name}}</option>
                  </select>
                  <!-- <input class="inputField" type="date" formControlName="AvailableFrom" placeholder="Select Start Date" /> -->
                  <div *ngIf="ClassDivisionForm.get('Class')?.hasError('min') && (ClassDivisionForm.get('Class')?.touched || ClassDivisionForm.get('Class')?.dirty)" class="text-danger">
                      <small>Please Select Class.</small>
                  </div>
                </div>
              </div>
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">Name <span class="required">*</span></label>
                <div class="input-with-error">
                  <input class="inputField" formControlName="Name" placeholder="Enter Name" />
                  <div *ngIf="(ClassDivisionForm.get('Name' ) ?. touched && ClassDivisionForm.get('Name' ) ?. invalid)" class="text-danger">
                    <div *ngIf="(ClassDivisionForm.get('Name' ) ?. errors ?. ['required' ]) ">
                      <small>Please Enter Name.</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">Strength <span class="required">*</span></label>
                <div class="input-with-error">
                  <input class="inputField" formControlName="Strength" placeholder="Enter Name" (keydown)="allowOnlyNumbers($event)" />
                  <div *ngIf="(ClassDivisionForm.get('Strength' ) ?. touched && ClassDivisionForm.get('Strength' ) ?. invalid)" class="text-danger">
                    <div *ngIf="(ClassDivisionForm.get('Strength' ) ?. errors ?. ['required' ]) ">
                      <small>Please Enter Strength.</small>
                    </div>
                    <div *ngIf="(ClassDivisionForm.get('Strength' ) ?. errors ?. ['pattern' ]) ">
                      <small>Only Numbers.</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="InputFieldsContainer" *ngIf="isAdmin">
                <label class="inputLabel" for="email">School</label>
                <div class="input-with-error">
                  <select formControlName="School" class="form-control selectFormControl" >
                    <option value="">-- Select School --</option>
                    <option *ngFor="let school of schoolList" [value]="school.ID">
                      {{ school.Name }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="InputRow">
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">Description</label>
                <div class="input-with-error">
                  <textarea class="inputField" formControlName="Description" placeholder="Enter Description" rows="4"></textarea>
                  <!-- <input class="inputField" id="email" formControlName="Name" placeholder="Enter Name" /> -->
                  <div *ngIf="(ClassDivisionForm.get('Name' ) ?. touched && ClassDivisionForm.get('Name' ) ?. invalid)" class="text-danger">
                    <div *ngIf="(ClassDivisionForm.get('Name' ) ?. errors ?. ['required' ]) ">
                      <small>Please Enter Description.</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="InputFieldsContainer">
                <div class="toggle-container" (click)="$event.stopPropagation()">
                  <label class="switch">
                    <input type="checkbox" [checked]="IsActiveStatus" (click)="toggleChange()">
                    <span class="slider">
                      <span
                        class="toggle-text"
                        [ngStyle]="{
                          left: IsActiveStatus ? '42%' : '60%',
                          fontSize: IsActiveStatus ? '9px' : '9px'
                        }"
                      >
                        {{ IsActiveStatus ? 'Active' : 'Inactive' }}
                      </span>
                    </span>
                  </label>
                </div>
              </div>
              <div class="InputFieldsContainer">
                <span style="visibility: hidden;">hello adding new academic year</span>
              </div>
            </div>
          </div>
          <div class="ActionButtons">
            <button class="btn" *ngIf="ViewClassDivisionClicked && canEdit()" (click)="UpdateClassDivision()">Update</button>
            <button class="btn" *ngIf="!ViewClassDivisionClicked && canAdd()" (click)="SubmitClassDivision()">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': isModalOpen}" [style.display]="isModalOpen ? 'block' : 'none'">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Application Status</h5>
        <button type="button" class="close" aria-label="Close" (click)="closeModal('status')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ AminityInsStatus }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="handleOk()">OK</button>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': isViewModalOpen}" [style.display]="isViewModalOpen ? 'block' : 'none'">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Syllabus Details</h5>
        <button type="button" class="close" (click)="closeModal('view')">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row mb-2" *ngIf="viewSyllabus?.Name">
          <div class="col-4">Name</div>
          <div class="col-8 viewfontsize">{{ viewSyllabus?.Name }}</div>
        </div>

        <div class="row mb-2" *ngIf="viewSyllabus?.AvailableFrom">
          <div class="col-4">Available From</div>
          <div class="col-8 viewfontsize">{{ viewSyllabus?.AvailableFrom }}</div>
        </div>

        <div class="row mb-2" *ngIf="viewSyllabus?.Description && viewSyllabus.Description.trim() !== ''">
          <div class="col-4">Description</div>
          <div class="col-8 viewfontsize">{{ viewSyllabus?.Description }}</div>
        </div>

        <div class="row mb-2" *ngIf="viewSyllabus?.IsActive !== null">
          <div class="col-4">Status</div>
          <div class="col-8">
            <span class="badge"
                  [ngClass]="viewSyllabus?.IsActive ? 'badge-success' : 'badge-danger'">
              {{ viewSyllabus?.IsActive ? 'Active' : 'Inactive' }}
            </span>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button class="btn btn-secondary" (click)="closeModal()">Close</button>
      </div> -->
    </div>
  </div>
</div>