<div>
  <app-dashboard-top-nav></app-dashboard-top-nav>
</div>
<div class="MainContentDiv">
  <div *ngIf="!IsAddNewClicked" class="w-100">
    <div class="ComponentTop">
      <div class="ComponentTopHeader">
        <h5>ExamType Management</h5>
        <p>Total {{ SyllabusCount }} ExamTypes Added</p>
      </div>
      <div class="ComponentTopBottom">
        <button *ngIf="canAdd()" (click)="AddNewClicked()"><mat-icon>add_circle</mat-icon>Add ExamType</button>
      </div>
    </div>
    <div class="ComponentRecords">
      <div>
        <div class="ComponentRecordsTop">
          <div class="filterOptions">
            <div class="searchreview input-container" >
              <input type="text" id="searchQuery" class="form-control floating-input"
                [(ngModel)]="searchQuery" (ngModelChange)="onSearchChange()" placeholder="Search... "  />
              <mat-icon style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%); pointer-events: none;">search</mat-icon>
              <!-- <i class="fas fa-search" style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%); pointer-events: none;"></i> -->
            </div>
            <div class="searchreview" *ngIf="isAdmin && SyllabusList.length != 0">
              <select (change)="onSchoolChange($event)" class="form-control" style="font-size: 11px;">
                <option value="">-- Select School --</option>
                <option value="0">All Schools</option>
                <option *ngFor="let school of schoolList" [value]="school.ID">
                  {{ school.Name }}
                </option>
              </select>
            </div>
          </div>
          <!-- <div class="DownloadButtons" *ngIf="SyllabusList.length != 0">
            <button class="btnHover" (click)="exportSyllabus('pdf')"><mat-icon>picture_as_pdf</mat-icon></button>
            <button class="btnHover" (click)="exportSyllabus('excel')"><mat-icon>description</mat-icon></button>
            <button class="btnHover" (click)="exportSyllabus('print')"><mat-icon>print</mat-icon></button>
          </div> -->
        </div>
        <div class="reviewstable">
          <table id="classTable" *ngIf="SyllabusList.length != 0" class="table table-bordered">
            <thead>
              <tr>
                <th class="visually-hidden">Academic Year ID</th>
                <th>SI.No</th>
                <th>Name</th>
                <th (click)="sort('ExamTypeName')" class="sortable-column">
                  <span class="column-text">Priority</span>
                  <span class="arrows">
                    <mat-icon 
                      [style.color]="sortColumn === 'ExamTypeName' && sortDirection === 'asc' ? 'red' : 'inherit'">
                      keyboard_arrow_up
                    </mat-icon>
                    <mat-icon 
                      [style.color]="sortColumn === 'ExamTypeName' && sortDirection === 'desc' ? 'red' : 'inherit'">
                      keyboard_arrow_down
                    </mat-icon>
                  </span>
                </th>
                <th *ngIf="isAdmin">School Name</th>
                <th *ngIf="isAdmin">Academic Year</th>
                 <th>Exam Type</th>
                <th>Max Marks</th>
                <th>Pass Marks</th>               
                <th>Exam Duration</th>               
                <th>Status</th>               
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let Syllabus of SyllabusList,let i = index">
                <td data-label="ID" class="visually-hidden">{{ Syllabus.ID }}</td>
                <td data-label="SI.No">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
                <td data-label="ExamType">{{ Syllabus.ExamType }}</td>
                <td data-label="Priority">{{ Syllabus.Priority }}</td>
                <td data-label="ExamType" *ngIf="isAdmin">{{ Syllabus.SchoolName }}</td>
                <td data-label="AcademicYearName" *ngIf="isAdmin">{{ Syllabus.AcademicYearName }}</td>
                <td data-label="ExamTypeName">{{ Syllabus.ExamTypeName }}</td>
                <td data-label="MaxMark">{{ Syllabus.MaxMark }}</td>
                <td data-label="PassMarks">{{ Syllabus.PassMarks }}</td>
                <td data-label="ExamDuration">{{ Syllabus.ExamDuration }}</td>
                <td data-label="Status">{{ Syllabus.IsActive }}</td>
                <td data-label="Actions">
                  <div class="d-flex justify-content-center align-items-center h-100">
                    <!-- (click)="editreview(aminitie.propertyTypeID)" -->
                    <button *ngIf="canEdit()" class="btn checkbtn edit" data-tooltip="Edit" (click)="editreview(Syllabus.ID)">
                      <mat-icon class="mat-edit-icon">edit</mat-icon>
                    </button>
                    <button *ngIf="canView()" class="btn checkbtn" data-tooltip="View" (click)="viewReview(Syllabus.ID)">
                      <mat-icon class="mat-edit-icon">visibility</mat-icon>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="SyllabusList.length === 0" class="NoDataFound">
            <div class="NoDataFoundImg">
              <img class="h-100 w-100" src="Images/NoDataFound.jpg" alt="">
            </div>
            <p>No data found.</p>
          </div>
          <div *ngIf="SyllabusCount > pageSize" class="pagination-controls">
            <button *ngIf="totalPages() > 3" (click)="goToPage(1)" [disabled]="currentPage === 1" class="arrow-btn FirstandLastButton">First</button>
            <button (click)="previousPage()" [disabled]="currentPage === 1" class="arrow-btn">←</button>
            <button *ngFor="let page of getVisiblePageNumbers()"
                    class="page-btn"
                    [ngClass]="{'active': page === currentPage}"
                    (click)="goToPage(page)">
              {{ page }}
            </button>
            <button (click)="nextPage()" [disabled]="currentPage === totalPages()" class="arrow-btn">→</button>
            <button *ngIf="totalPages() > 3" (click)="goToPage(totalPages())" [disabled]="currentPage === totalPages()" class="arrow-btn FirstandLastButton">Last</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="IsAddNewClicked" class="w-100">
    <div class="AddForm">
      <div class="AddFormTop">
        <button (click)="AddNewClicked()" title="Back"><mat-icon>arrow_circle_left</mat-icon></button>
        <p>Add ExamType</p>
      </div>
      <div class="AddFormConatiner">
        <form [formGroup]="SyllabusForm">
          <div class="FormInputRowsContainer">
            <div class="InputRow">
              <!-- <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">ExamType Name <span class="required">*</span></label>
                <div class="input-with-error">
                  <input class="inputField" formControlName="ExamTypeName" placeholder="ExamTypeName" />
                  <div *ngIf="(SyllabusForm.get('ExamTypeName' ) ?. touched && SyllabusForm.get('ExamTypeName' ) ?. invalid)" class="text-danger">
                    <div *ngIf="(SyllabusForm.get('ExamTypeName' ) ?. errors ?. ['required' ]) ">
                      <small>Please Enter ExamTypeName.</small>
                    </div>
                    <div *ngIf="(SyllabusForm.get('ExamTypeName' ) ?. errors ?. ['pattern' ]) ">
                      <small>Only Alphabets and Special Characters.</small>
                    </div> 
                  </div>
                </div>
              </div>      -->
               <div class="InputFieldsContainer" *ngIf="isAdmin">
                <label class="inputLabel" for="email">School <span class="required">*</span></label>
                <div class="input-with-error">
                  <select class="inputField" type="date" formControlName="School" placeholder="Select Start Date" (change)="onAdminSchoolChange($event)" >
                    <option value="0">-- Select School --</option>
                    <option *ngFor="let school of schoolList" value="{{school.ID}}">{{school.Name}}</option>
                  </select>
                  <div *ngIf="SyllabusForm.get('School')?.hasError('min') && (SyllabusForm.get('School')?.touched || SyllabusForm.get('School')?.dirty)" class="text-danger">
                      <small>Please Select School.</small>
                  </div>
                </div>
              </div> 
               
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">Exam Type <span class="required">*</span></label>
                <div class="input-with-error">
                  <input class="inputField" formControlName="ExamType" placeholder="Enter Exam Name" />
                  <div *ngIf="(SyllabusForm.get('ExamType')?.touched && SyllabusForm.get('ExamType')?.invalid)" class="text-danger">
                    <div *ngIf="(SyllabusForm.get('ExamType')?.errors?.['required'])">
                      <small>Please Enter Exam Type.</small>
                    </div>
                  </div>
                </div>
              </div>
               <div class="InputFieldsContainer">
                  <label class="inputLabel">Exam Type <span class="required">*</span></label>

                  <div class="input-with-error">
                    <select class="inputField" formControlName="ExamTypeName" placeholder="Select Exam">
                      <option value=""  >--Select ExamType--</option>
                      <option value="Quarterly">Quarterly</option>
                      <option value="HalfYearly">HalfYearly</option>
                      <option value="Prefinal">Prefinal</option>
                    </select>

                    <div *ngIf="SyllabusForm.get('ExamTypeName')?.touched && SyllabusForm.get('ExamTypeName')?.invalid"
                        class="text-danger">
                      <small *ngIf="SyllabusForm.get('ExamTypeName')?.errors?.['required']">
                        Please select ExamType.
                      </small>
                    </div>
                  </div>
                  </div>
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">PassMarks <span class="required">*</span></label>
                <div class="input-with-error">
                  <input class="inputField" formControlName="PassMarks" placeholder="Enter PassMarks"(keydown)="allowOnlyNumbers($event)" />
                  <div *ngIf="(SyllabusForm.get('PassMarks' ) ?. touched && SyllabusForm.get('PassMarks' ) ?. invalid)" class="text-danger">
                    <div *ngIf="(SyllabusForm.get('PassMarks' ) ?. errors ?. ['required' ]) ">
                      <small>Please Enter PassMarks.</small>
                    </div>
                    <div *ngIf="(SyllabusForm.get('PassMarks' ) ?. errors ?. ['pattern' ]) ">
                      <small>Only Numbers.</small>
                    </div>
                  </div>
                </div>
              </div>     
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">NoofQuestion <span class="required">*</span></label>
                <div class="input-with-error">
                  <input class="inputField" formControlName="NoofQuestion" placeholder="Enter NoofQuestion" (keydown)="allowOnlyNumbers($event)" />
                  <div *ngIf="(SyllabusForm.get('NoofQuestion' ) ?. touched && SyllabusForm.get('NoofQuestion' ) ?. invalid)" class="text-danger">
                    <div *ngIf="(SyllabusForm.get('NoofQuestion' ) ?. errors ?. ['required' ]) ">
                      <small>Please Enter NoofQuestion.</small>
                    </div>
                    <div *ngIf="(SyllabusForm.get('NoofQuestion' ) ?. errors ?. ['pattern' ]) ">
                      <small>Only Numbers.</small>
                    </div>
                  </div>
                </div>
              </div>     
            </div>
            <div class="InputRow">
               <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">Academic Year <span class="required">*</span></label>
                <div class="input-with-error">
                  <select class="inputField" type="date" formControlName="AcademicYear" placeholder="Select Start Date" >
                    <option value="0">-- Select Academic Year --</option>
                    <option *ngFor="let school of academicYearList" value="{{school.ID}}">{{school.Name}}</option>
                  </select>
                  <div *ngIf="SyllabusForm.get('AcademicYear')?.hasError('min') && (SyllabusForm.get('AcademicYear')?.touched || SyllabusForm.get('AcademicYear')?.dirty)" class="text-danger">
                      <small>Please Select Academic Year.</small>
                  </div>
                </div>
              </div>
                <div class="InputFieldsContainer">
                  <label class="inputLabel">Priority <span class="required">*</span></label>

                  <div class="input-with-error">
                    <select class="inputField" formControlName="Priority">
                      <option value="" disabled hidden>Select Priority</option>
                      <option value="High">High</option>
                      <option value="Low">Low</option>
                    </select>

                    <div *ngIf="SyllabusForm.get('Priority')?.touched && SyllabusForm.get('Priority')?.invalid"
                        class="text-danger">
                      <small *ngIf="SyllabusForm.get('Priority')?.errors?.['required']">
                        Please select Priority.
                      </small>
                    </div>
                  </div>
                </div>


              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">MaxMark <span class="required">*</span></label>
                <div class="input-with-error">
                  <input class="inputField" formControlName="MaxMark" placeholder="Enter MaxMark" (keydown)="allowOnlyNumbers($event)" />
                  <div *ngIf="(SyllabusForm.get('MaxMark' ) ?. touched && SyllabusForm.get('MaxMark' ) ?. invalid)" class="text-danger">
                    <div *ngIf="(SyllabusForm.get('MaxMark' ) ?. errors ?. ['required' ]) ">
                      <small>Please MaxMarks.</small>
                    </div>
                    <div *ngIf="(SyllabusForm.get('MaxMark' ) ?. errors ?. ['pattern' ]) ">
                      <small>Only Numbers.</small>
                    </div>
                  </div>                  
                </div>
              </div>          
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">ExamDuration(Minutes) <span class="required">*</span></label>
                <div class="input-with-error">
                  <input class="inputField" formControlName="ExamDuration" placeholder="Enter ExamDuration" (keydown)="allowOnlyNumbers($event)" />
                  <div *ngIf="(SyllabusForm.get('ExamDuration' ) ?. touched && SyllabusForm.get('ExamDuration' ) ?. invalid)" class="text-danger">
                    <div *ngIf="(SyllabusForm.get('ExamDuration' ) ?. errors ?. ['required' ]) ">
                      <small>Please Enter ExamDuration.</small>
                    </div>
                    <div *ngIf="(SyllabusForm.get('ExamDuration' ) ?. errors ?. ['pattern' ]) ">
                      <small>Only Numbers.</small>
                    </div>
                  </div>
                </div>
              </div>
               
               <div class="InputFieldsContainer">
               <label class="inputLabel" for="email">Instructions</label>
                <div class="input-with-error">
                  <textarea class="inputField" formControlName="Instructions" placeholder="Enter Instructions" rows="2"></textarea>
                  <!-- <input class="inputField" id="email" formControlName="Name" placeholder="Enter Name" /> -->
                  <div *ngIf="(SyllabusForm.get('Instructions' ) ?. touched && SyllabusForm.get('Instructions' ) ?. invalid)" class="text-danger">
                    <!-- <div *ngIf="(SyllabusForm.get('Instructions' ) ?. errors ?. ['Instructions' ]) ">
                      <small>Please Enter Instructions.</small>
                    </div>
                     <div *ngIf="(SyllabusForm.get('ExamDuration' ) ?. errors ?. ['pattern' ]) ">
                      <small>Only Numbers.</small>
                    </div> -->
                  </div>
                </div>
              </div> 
            </div>
            <div class="InputRow">
              <div class="InputFieldsContainer">
                <div class="toggle-container" (click)="$event.stopPropagation()">
                  <label class="switch">
                    <input type="checkbox" [checked]="IsActiveStatus" [disabled]="!canDelete()" (click)="toggleChange()">
                    <span class="slider">
                      <span
                        class="toggle-text"
                        [ngStyle]="{
                          left: IsActiveStatus ? '42%' : '60%',
                          fontSize: IsActiveStatus ? '9px' : '9px'
                        }"
                      >
                        {{ IsActiveStatus ? 'Active' : 'Inactive' }}
                      </span>
                    </span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="ActionButtons">
            <button class="btn" *ngIf="ViewSyllabusClicked && canEdit()" (click)="UpdateSyllabus()">Update</button>
            <button class="btn" *ngIf="!ViewSyllabusClicked && canAdd()" (click)="SubmitSyllabus()">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': isModalOpen}" [style.display]="isModalOpen ? 'block' : 'none'">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Application Status</h5>
        <button type="button" class="close" aria-label="Close" (click)="closeModal('status')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ AminityInsStatus }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="handleOk()">OK</button>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': isViewModalOpen}" [style.display]="isViewModalOpen ? 'block' : 'none'">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
       <div class="modal-header">
        <h5 class="modal-title">ExamType  Details</h5>
        <button type="button" class="close" (click)="closeModal('view')">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row mb-2">
          <div class="col-4">ExamTypeName</div>
          <div class="col-8">{{ viewSyllabus?.ExamTypeName }}</div>
        </div>

        <div class="row mb-2">
          <div class="col-4">Priority</div>
          <div class="col-8">{{ viewSyllabus?.Priority }}</div>
        </div>

         <div class="row mb-2">
          <div class="col-4">ExamType</div>
          <div class="col-8">{{ viewSyllabus?.ExamType }}</div>
        </div>

         <div class="row mb-2">
          <div class="col-4">PassMarks</div>
          <div class="col-8">{{ viewSyllabus?.PassMarks }}</div>
        </div>

        <div class="row mb-2">
          <div class="col-4">ExamDuration</div>
          <div class="col-8">{{ viewSyllabus?.ExamDuration }}</div>
        </div>

        <div class="row mb-2">
          <div class="col-4">NoofQuestion</div>
          <div class="col-8">{{ viewSyllabus?.NoofQuestion }}</div>
        </div>

        <div class="row mb-2">
          <div class="col-4">Instructions</div>
          <div class="col-8">{{ viewSyllabus?.Instructions }}</div>
        </div>

        <div class="row mb-2" *ngIf="viewSyllabus?.SchoolName">
          <div class="col-4">School Name</div>
          <div class="col-8 viewfontsize">{{ viewSyllabus?.SchoolName }}</div>
        </div>

        
        <div class="row mb-2" *ngIf="viewSyllabus?.AcademicYearName">
          <div class="col-4">Academic Year</div>
          <div class="col-8 viewfontsize">{{ viewSyllabus?.AcademicYearName }}</div>
        </div>
  
        <div class="row mb-2">
          <div class="col-4">Status</div>
          <div class="col-8">
            <span class="badge"
                  [ngClass]="viewSyllabus?.IsActive ? 'badge-success' : 'badge-danger'">
              {{ viewSyllabus?.IsActive ? 'Active' : 'Inactive' }}
            </span>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button class="btn btn-secondary" (click)="closeModal()">Close</button>
      </div> -->
    </div>
  </div>
  


<!-- <div class="modal-backdrop fade show" *ngIf="isViewModalOpen"></div> -->