.FormInputRowsContainer{
    flex-direction: column;
}

.InputRow{
    flex-direction: row !important;
    width: 100% !important;
}

.inputrowdescription{
    align-items: start !important;
}

.sortable-column .column-text{
  margin-right: 15px;
}

.arrows{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
    gap: 0px;
}

.AddForm{
  margin-top: 10px;
}

.ComponentTop .ComponentTopHeader{
  border-bottom: none;
}

.MainContentDiv{
  margin-top: 60px;
}

.viewmodel .ActionButtons{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 5px;
}

.viewmodel .ActionButtons .btn{
  background-color: #536ff7;
  color: #fff;
  border: none;
  font-size: 10px;
  border-radius: 5px;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.viewmodel .modal-dialog {
    position: relative;
    margin: 4% auto;
    max-width: 750px;
}

.viewmodel .actionbuttons,.AddForm .actionbuttons{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.viewmodel .actionbuttons .btncancel,.AddForm .actionbuttons .btncancel{
  background-color: gray;
  color: white;
  border: none;
  font-size: smaller;
  border-radius: 5px;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.viewmodel .actionbuttons .btnsubmit,.AddForm .actionbuttons .btnsubmit{
  background-color: #536ff7;
  color: #fff;
  border: none;
  font-size: smaller;
  border-radius: 5px;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.toggle-container {
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 18px;
}

.toggle-container .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
}

.toggle-container .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-container .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.toggle-container .switch .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
}

.toggle-container .switch input:checked + .slider {
  background-color: #4CAF50;
}

.toggle-container .switch input:checked + .slider:before {
  transform: translateX(40px);
}

.toggle-container .switch .toggle-text {
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  color: white;
  font-weight: bold;
  line-height: 20px;
  pointer-events: none;
}

.ComponentTop {
  box-shadow: none;
  width: 100%;
  padding-bottom: 10px;
}