<div>
  <app-dashboard-top-nav></app-dashboard-top-nav>
</div>
<div class="MainContentDiv">
  <div *ngIf="!IsAddNewClicked" class="w-100">
    <div class="ComponentTop">
      <div class="ComponentTopHeader">
        <h5>Page Management</h5>
        <p>Total {{ PagesCount }} Pages Added</p>
      </div>
      <div class="ComponentTopBottom">
        <button *ngIf="canAdd()" (click)="AddNewClicked()"><mat-icon>add_circle</mat-icon>Add Page</button>
      </div>
    </div>
    <div class="ComponentRecords">
      <div>
        <div class="ComponentRecordsTop" >
          <div class="filterOptions">
            <div class="searchreview input-container" >
              <input type="text" id="searchQuery" class="form-control floating-input"
                [(ngModel)]="searchQuery" (ngModelChange)="onSearchChange()" placeholder="Search... "  />
              <mat-icon style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%); pointer-events: none;">search</mat-icon>
            </div>
            <!-- <div class="searchreview" *ngIf="isAdmin && SyllabusList.length != 0">
              <select (change)="onSchoolChange($event)" class="form-control" style="font-size: 11px;">
                <option value="">-- Select School --</option>
                <option value="0">All Schools</option>
                <option *ngFor="let school of schoolList" [value]="school.ID">
                  {{ school.Name }}
                </option>
              </select>
            </div> -->
          </div>
          <!-- <div class="DownloadButtons" *ngIf="PagesList.length != 0">
            <button class="btnHover" (click)="exportSyllabus('pdf')"><mat-icon>picture_as_pdf</mat-icon></button>
            <button class="btnHover" (click)="exportSyllabus('excel')"><mat-icon>description</mat-icon></button>
            <button class="btnHover" (click)="exportSyllabus('print')"><mat-icon>print</mat-icon></button>
          </div> -->
        </div>
        <div class="reviewstable">
          <table *ngIf="PagesList.length != 0" class="table table-bordered">
            <thead>
              <tr>
                <th class="visually-hidden">Page ID</th>
                <th>SI.No</th>
                <th>Module</th>
                <th>Page Name</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let Class of PagesList,let i = index">
                <td data-label="ID" class="visually-hidden">{{ Class.ID }}</td>
                <td data-label="SI.No">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
                <td data-label="Class">{{ getSyllabusName(Class.Class) }}</td>
                <td data-label="Name">{{ Class.Name }}</td>
                <td data-label="Status">{{ Class.IsActive }}</td>
                <td data-label="Actions">
                  <div class="d-flex justify-content-center align-items-center h-100">
                    <button *ngIf="canEdit()" class="btn checkbtn edit" data-tooltip="Edit" (click)="editreview(Class.ID)">
                      <mat-icon class="mat-edit-icon">edit</mat-icon>
                    </button>
                    <button *ngIf="canView()" class="btn checkbtn" data-tooltip="View" (click)="viewReview(Class.ID)">
                      <mat-icon class="mat-edit-icon">visibility</mat-icon>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="PagesList.length === 0" class="NoDataFound">
            <div class="NoDataFoundImg">
              <img class="h-100 w-100" src="Images/NoDataFound.jpg" alt="">
            </div>
            <p>No data found.</p>
          </div>
          <div *ngIf="PagesCount > pageSize" class="pagination-controls">
            <button *ngIf="totalPages() > 3" (click)="goToPage(1)" [disabled]="currentPage === 1" class="arrow-btn FirstandLastButton">First</button>
            <button (click)="previousPage()" [disabled]="currentPage === 1" class="arrow-btn">←</button>
            <button *ngFor="let page of getVisiblePageNumbers()"
                    class="page-btn"
                    [ngClass]="{'active': page === currentPage}"
                    (click)="goToPage(page)">
              {{ page }}
            </button>
            <button (click)="nextPage()" [disabled]="currentPage === totalPages()" class="arrow-btn">→</button>
            <button *ngIf="totalPages() > 3" (click)="goToPage(totalPages())" [disabled]="currentPage === totalPages()" class="arrow-btn FirstandLastButton">Last</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="IsAddNewClicked" class="w-100">
    <div class="AddForm">
      <div class="AddFormTop">
        <button (click)="AddNewClicked()" title="Back"><mat-icon>arrow_circle_left</mat-icon></button>
        <p>Add Page</p>
      </div>
      <div class="AddFormConatiner">
        <form [formGroup]="PageForm">
          <div class="FormInputRowsContainer">
            <div class="InputRow">
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="email">Module <span class="required">*</span></label>
                <div class="input-with-error">
                  <select class="inputField" type="date" formControlName="Class" placeholder="Select Module">
                    <option value="0" disabled>Select Module</option>
                    <option *ngFor="let Syllabus of SyllabusList" value="{{Syllabus.ID}}">{{Syllabus.Name}}</option>
                  </select>
                  <div *ngIf="PageForm.get('Class')?.hasError('min') && (PageForm.get('Class')?.touched || PageForm.get('Class')?.dirty)" class="text-danger">                    
                      <small>Please Select Module.</small>
                  </div>
                </div>
              </div>
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="Name">Name <span class="required">*</span></label>
                <div class="input-with-error">
                  <input class="inputField" formControlName="Name" placeholder="Enter Name" (keydown)="allowAlphaAndSpecial($event)" />
                  <div *ngIf="(PageForm.get('Name' ) ?. touched && PageForm.get('Name' ) ?. invalid)" class="text-danger">
                    <div *ngIf="(PageForm.get('Name' ) ?. errors ?. ['required' ]) ">
                      <small>Please Enter Name.</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="InputFieldsContainer">
                <span style="visibility: hidden;">hello adding new academic year</span>
              </div>
            </div>
            <div class="InputRow">
              <div class="InputFieldsContainer">
                <label class="inputLabel" for="Description">Description</label>
                <div class="input-with-error">
                  <textarea class="inputField" formControlName="Description" placeholder="Enter Description" rows="4"></textarea>
                </div>
              </div>
              <div class="InputFieldsContainer">
                <div class="toggle-container" (click)="$event.stopPropagation()">
                  <label class="switch">
                    <input type="checkbox" [checked]="IsActiveStatus" (click)="toggleChange()">
                    <span class="slider">
                      <span
                        class="toggle-text"
                        [ngStyle]="{
                          left: IsActiveStatus ? '42%' : '60%',
                          fontSize: IsActiveStatus ? '9px' : '9px'
                        }"
                      >
                        {{ IsActiveStatus ? 'Active' : 'Inactive' }}
                      </span>
                    </span>
                  </label>
                </div>
              </div>

            </div>
          </div>
          <div class="ActionButtons">
            <button class="btn" *ngIf="ViewPageClicked && canEdit()" (click)="UpdatePage()">Update</button>
            <button class="btn" *ngIf="!ViewPageClicked && canAdd()" (click)="SubmitPage()">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': isModalOpen}" [style.display]="isModalOpen ? 'block' : 'none'">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Application Status</h5>
        <button type="button" class="close" aria-label="Close" (click)="closeModal('status')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ AminityInsStatus }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="handleOk()">OK</button>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': isViewModalOpen}" [style.display]="isViewModalOpen ? 'block' : 'none'">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Page Details</h5>
        <button type="button" class="close" (click)="closeModal('view')">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row mb-2" *ngIf="viewSyllabus?.Name">
          <div class="col-4">Page Name</div>
          <div class="col-8 viewfontsize">{{ viewSyllabus?.Name }}</div>
        </div>

        <div class="row mb-2" *ngIf="viewSyllabus?.ModuleName">
          <div class="col-4">Module</div>
          <div class="col-8 viewfontsize">{{ viewSyllabus?.ModuleName }}</div>
        </div>

        <div class="row mb-2" *ngIf="viewSyllabus?.Description && viewSyllabus.Description.trim() !== ''">
          <div class="col-4">Description</div>
          <div class="col-8 viewfontsize">{{ viewSyllabus?.Description }}</div>
        </div>

        <div class="row mb-2" *ngIf="viewSyllabus?.IsActive !== null">
          <div class="col-4">Status</div>
          <div class="col-8">
            <span class="badge"
                  [ngClass]="viewSyllabus?.IsActive ? 'badge-success' : 'badge-danger'">
              {{ viewSyllabus?.IsActive ? 'Active' : 'Inactive' }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>